APP_NAME=Savorly
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB=savorly_f4533b8f

CORS_ALLOWED_ORIGINS=http://localhost:4000